@import url('https://fonts.googleapis.com/css2?family=Borel&family=Raleway&family=Roboto+Condensed:ital,wght@1,300&display=swap');

.buttonsLock{
    display: none;
}
@media (min-width: 761px) {
    .buttonsLock{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 15px;    
    }
    .btn{
        width: 90px;
        height: 40px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-family: 'Raleway', sans-serif;
        margin: 2px;
        padding: 2px;
        text-align: center;
    }

}