.container{
    width: 30%;
}
.whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
}
.whText{
    font-size: 8px;
}
.whImg{
    width: 40px;
    margin: 10px;
}
.whImg:hover{
    width: 50px;
}
@media (min-width: 361px) {
    .whText{
        font-size: 15px;
    }
}
@media (min-width: 600px) {
    .whatsapp{
        flex-direction: row;
    }
}